
@{
    ViewBag.Title = "Đăng Truyện";
    Layout = "~/Views/Shared/SimplifyLayout.cshtml";
}

@section css {

}

<div class="col-12 col-lg-9">
    <div class="container">
        <h3 class="ms-4 mb-0">Đăng Truyện</h3>
        <form action="~/Author/AuthorNovels/PublishNovel" enctype="multipart/form-data" method="post" class="p-5">
            @Html.AntiForgeryToken()
            <div class="mb-3 row">
                <label for="NovelName" class="col-xl-2 col-lg-3 col-form-label">Tên truyện: </label>
                <div class="col-12 col-lg-9 col-xl-10">
                    <input type="text" class="form-control" id="NovelName" placeholder="Tên truyện" name="Title">
                    @*@Html.ValidationMessageFor(model => model.book_title, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="mb-3 row">
                <label for="NovelAuthor" class="col-xl-2 col-lg-3 col-form-label">Tác giả: </label>
                <div class="col-12 col-lg-9 col-xl-10">
                    <input type="text" class="form-control" id="NovelAuthor" placeholder="Tác giả" name="Author">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="NovelPoster" class="col-xl-2 col-lg-3 col-form-label">Poster truyện: </label>
                <div class="col-12 col-lg-9 col-xl-10">
                    <input type="file" class="form-control" id="NovelPoster" name="Poster">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="" class="col-xl-2 col-lg-3 col-form-label">Trạng thái: </label>
                <div class="col-12 col-lg-9 col-xl-10">
                    <div class="row">
                        @foreach (var item in ViewBag.NovelStatuses)
                        {
                            <div class="col-sm-6 col-xl-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="radio_@item.StatusID" checked value="@item.StatusID" name="StatusID">
                                    <label class="form-check-label" for="radio_@item.StatusID">
                                        @item.StatusName
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="NovelCategory" class="col-xl-2 col-lg-3 col-form-label">Thể loại: </label>
                <div class="col-12 col-lg-9 col-xl-10">
                    <div class="row">
                        @foreach (var item in ViewBag.Categories)
                        {
                            <div class="col-sm-6 col-xl-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="@item.CategoryID" id="Categor_@item.CategoryID" name="CategoriesList">
                                    <label class="form-check-label" for="Categor_@item.CategoryID">
                                        @item.CategoryName
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="NovelIntroduction" class="col-xl-2 col-lg-3 col-form-label">Giới thiệu: </label>
                <div class="col-12 col-lg-9 col-xl-10">
                    <textarea class="form-control" id="NovelIntroduction" name="Description"></textarea>
                    <script>
                        CKEDITOR.replace('NovelIntroduction');
                    </script>
                </div>
            </div>
            <div class="mb-3 text-end">
                <input type="reset" class="btn btn-danger" value="Đặt lại">
                <input type="submit" class="btn btn-success" value="Đăng truyện">
            </div>
        </form>
    </div>
</div>

@section script {
    <script>
        // js side bar
        var linksSideBar = document.querySelectorAll('#Main .SideBar .nav-link');
        function removeActive() {
            linksSideBar.forEach(element => {
                element.classList.remove('active');
            })
        }
        function start() {
            removeActive();
            linksSideBar.forEach(element => {
                if (element.textContent.includes('Đăng Truyện')) {
                    element.classList.add('active')
                }
            })
        }
        start();
    </script>
}